body{
    margin: 0px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
}


.main-cards{
    background-color: #0094c6;
    width: 50%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding-bottom: 2%;
}

.card-left{
    width: 50%;
    margin-left: 20px;

}

.input-left, .input-right{
    width: 75%;
    height: 3vh;
    border-radius: 5px;
    border: 0px;
}

.card-right{
    margin-left: 20px;
    width: 50%;
}

.arrow-icon{
    width: 24px;
    height: 24px;
    
}

.arrow-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}